.dash-main{
    margin-top: 100px;
    display: flex;
    min-height: 400px;
    align-items: flex-start;
}
.dash-side{
    width: 20%;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.dash-links{
    text-align: center;
    height: 30px;
    margin: 5px;
}
.dash-links-select{
    border-radius: 3px;
    text-align: center;
    height: 30px;
    background-color: gray;
    margin: 5px;
}
.dash-links{
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-decoration-style: none;
}
.dash-body{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-grow: initial;
    justify-content: space-evenly;
}
.dash-section{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    background-color: white;
    border: #adb5bd solid 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dash-section-head{
    display: flex;
    background-color: #adb5bd;
    justify-content: space-between;
    padding: 5px;
}
.dash-section-body{
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dash-section-body-item{
    margin-top: 3px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #adb5bd;
}
.dash-section-head-name{
    color: black;
    font-weight: 600;
}
.dash-section-body a{
    text-decoration: none;
    color: black;
}
input[type="button"]{
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
input[type="number"]{
    border: none;
    font-weight: 500;
}
.butt-add{
    background-color: #0d6efd;
    color: white;
}
.butt-delete{
    margin-left: 5px;
    background-color: #dc3545;
    color: white;
}

.butt-save{
    background-color: #28a745;
    color: white;
}

.butt-edit{
    background-color: white;
    color: black;
}

@media (max-width:900px) {
    .dash-main{
        margin-top: 70px;
        flex-direction: column;
    }
    .dash-side{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .dash-links{
        padding: 5px;
    }
    .dash-links-select{
        padding: 5px;
    }
    .dash-body{
        width: 100%;
    }
    .dash-section{
        width: 100%;
    }
}