.dash-main{
    margin-top: 100px;
    display: flex;
}
.dash-side{
    width: 20%;
    background-color: #333;
    border-radius: 5px;
}
.dash-links{
    text-align: center;
    height: 30px;
    margin: 5px;
}
.dash-links-select{
    text-align: center;
    height: 30px;
    background-color: gray;
    margin: 5px;
}
.dash-links{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-decoration-style: none;
}
.dash-body{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.dash-section{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    background-color: white;
    border: #adb5bd solid 2px;
    border-radius: 5px;
}
.dash-section-head{
    display: flex;
    background-color: #adb5bd;
    justify-content: space-between;
    padding: 5px;
}
.dash-section-body{
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dash-section-body-item{
    margin-top: 3px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #adb5bd;
}
.dash-section-head-name{
    color: black;
    font-weight: 600;
}
.dash-section-body a{
    text-decoration: none;
    color: black;
}
input[type="button"]{
    border: none;
    border-radius: 5px;
    
    font-weight: 500;
}
.butt-add{
    background-color: #0d6efd;
    color: white;
}
.butt-delete{
    margin-left: 5px;
    background-color: #dc3545;
    color: white;
}

.butt-edit{
    background-color: white;
    color: black;
}