body{
    background-color: gray;
}
.result{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.s-info{
    display: flex;
    justify-content: space-between;
}
.s-route{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}