.body-plan{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 500px;
    background-color: blueviolet;
}
.plan-select{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}
.places{
    width: 100%;
    margin-bottom: 10px;
}
.stop{
    display: flex;
    font-size: 22px;
    font-weight: 600;
}
.plan-dml{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
input[type=text]{
    width: 65%;
    height: 40px;
    border: black 2px solid;
    border-radius: 5px;
    background-color: #eff1f8;
    font-size: 16px;
    outline: none;
}
input[type=button] {
    border: #355bc0 solid 2px;
    width: 15%;
    height: 40px;
    border-radius: 5px;
    background-color: #355bc0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.1s linear;
    margin-bottom: 0;
}
input[type=button]:hover{
    background-color: white;
    color: #355bc0;
}
#save{
    width: 100%;
}