.vdetail h1{
    font-size: 30px;
}
.vdetail input[type="text"]{
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
    border-radius: 2px;
}
.normal{
    border: #adb5bd 3px solid;
}
.warning{
    border: #dc3545 3px solid;
}
.save{
    width: 100px;
}
@media (max-width:900px) {
    .vdetail{
        width: 100%;
    }
    .vdetail h1{
        font-size: 20px;
    }
    .vdetail input[type="text"]{
        width: 100%;
    }
    .save{
        width: 100%;
    }
}