.display-4{
    
  color: #ffffff;
  font-weight: bold;

padding-bottom: 20px;
}

.searchs{
height: 400px;

}
.box{
padding-top: 200px;
}
.search-box{
background-color: white;
height: 45px;
display: flex;
justify-content: space-between;
border-radius: 8px;
padding-left: 5px;
}
.search-box input[type="text"]{
width: 35%;
border: none;
outline: none;
}
.search-box input[type="submit"]{
width: 90px;
border: none;
outline: none;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
.search-box select{
width: 20%;
border: none;
outline: none;
}


/* @media only screen and (max-width: 768px) {
  .box{
    padding-top: 100px;
  }
  .searchs{
    height: 320px;
  }
} */