body{
  height: 100%;
}
.display-4{
    
  color: #ffffff;
  font-weight: bold;

padding-bottom: 20px;
}
.mybody{
  background-color: white;
}

.searchs{
height: 400px;
overflow: hidden;

}

.nav-color{
  background-color: #001A39;
}
.box{
padding-top: 200px;
}
.search-box{
background-color: white;
height: 45px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 8px;
padding-left: 5px;
}
.autocomplete{
  width: 30%;
}
.autocomplete input[type="text"]{
width: 100%;
height: 100%;
border: none;
outline: none;
}
.search-box input[type="submit"]{
width: 90px;
border: none;
outline: none;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
.search-box select{
height: 100%;
width: 20%;
border: none;
outline: none;
}
.search-btn{
  height: 100%;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
}
.search-btn:hover{
  background-color: #228B22;
}

.sum-box{
  color: #19589f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.sum-sub{
  margin-top: 0;
  font-size: 20px;
}
.summary{
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
.welcome-mid-des{
  font-family: 'Mulish', sans-serif;
}
.welcome-mid-des span{
  font-size: 30px;
  color: #0d6efd;
  font-weight: 500;
  
}

.sum-count{
  font-size: 40px;
}
.feature{
  font-family: 'Mulish', sans-serif;
  padding-top: 0;
  padding-bottom: 10px;
  border-radius: 15px;
  transition: all 0.3s linear;
}
.feature:hover{
  padding-top: 10px;
  padding-bottom: 0;
  color: white;
  font-weight: 600;
  background-color: #002147;
}
.logo{
  font-family: 'Carter One', cursive;
  color: white;
}
.bottom-logo{
  margin-top: 0;
  margin-bottom: 0;
}
.welcome-mid{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-mid-img{
  width: 50%;
}

.welcome-mid-img img{
  width: 100%;
}
.welcome-mid-des{
  width: 50%;
  font-size: 20px;
}
.chnge-pic{
  cursor: pointer;
}
.recent-routes{
  margin-top: 5px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.recents{
  overflow: hidden;
  text-decoration: none;
  color: #001A39;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  background-color: #eff1f8;
  width: 270px;
  transition: all linear 0.1s;
}
.recents:hover{
  text-decoration: none;
  background-color: #0d6efd;
  color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.recent-img{
  width: 100%;
  overflow: hidden;
}
.recents img{
  width: 100%;
  object-fit: cover;
  position: relative;
  transition: all linear 0.3s;
}
.recents img:hover{
  scale: 1.1;
}
.subscribe{
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #0F3460;
  text-align: center;
  border-radius: 10px;
}
.subscribe h1{
  font-size: 25px;
}
.subscribe input[type="email"]{
  width: 500px;
  border: none;
  outline: none;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
}
.subscribe-input{
  display: flex;
  justify-content: center;
}
.button-64 {
  font-size: 20px;
  margin-left: 5px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  height: 40px;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all linear 0.5s;
}
.button-64:hover {
  background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
}

@media (max-width:900px) {
  .box{
    padding-top: 100px;
  }
  .searchs{
    height: 330px;
  }
  .welcome-mid{
    flex-direction: column;
  }
  .welcome-mid-img{
    width: 100%;
  }
  .welcome-mid-des{
    text-align: center;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .welcome-mid-des span{
    font-size: 20px;
  }
  .search-box{
    font-size: 12px;
  }
  .search-box select{
    width: auto;
  
  }
  .search-box .search-btn{
    padding: 0;
  
  }
  .search-box input[type="submit"]{
    width: 70px;
  }
  .search-box input[type="submit"]{
    font-size: 12px;
  }
  .recents{
    width: 48%;
    margin-bottom: 5px;
  }
  .subscribe-input{
    flex-direction: column;
  }
  .subscribe input[type="email"]{
    width: 100%;
  }
  .subscribe h1{
    font-size: 20px;
  }
  .button-64 {
    margin-left: 0;
    margin-top: 5px;
  }
}